.chat{
    border: 2px solid black;
    width: 96%;
    border-radius: 0 16px 15px 0;
    background-color: #fef9ef;
    position: relative;

}

.chatnav{
    display: flex;
    justify-content: space-between;
    background-color: #fde68a;
    border-radius: 0 13px 0 0;
    padding: 0 15px;
}

.callMenu{
    padding: 10px;
}

.callMenu>i{
    padding: 7px;
}

.callMenu>i:hover{
    cursor: pointer;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userInfo>strong{
    font-size: large;
}

.chatinp{
    position: absolute;
    bottom: 0;
    width: 100%;
}
